
.fa-star {
    margin: 0 0.5em;
    font-size: 24px;
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.selected {
    background: #eee;
    color: #ddd;
    cursor: not-allowed;
}

.used {
    background: #aaddaa;
    color: #99bb99;
    cursor: not-allowed;
}
.width-100 {
    width: 100%;
}
